@font-face {
    src:url("/fonts/OpenSans-Light.ttf");
    font-family: "Open sans";
}
html,body{
    padding:0;
    margin:0;
}
*{
    color:black;
    font-size:17px;
    font-family: "Open sans";
}
header{
    display:block;
    padding:5px;
    border-bottom:2px solid black;
}
header a{
    padding:2px;
    text-decoration: none;
}
header a:hover{
    color:#666;
    text-decoration: underline;
}
footer{

}
.messages{
    border:2px black solid;
    padding:5px;
    text-align:center;
    display:none;

    background:white;
    position:fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container{
    border:1px solid transparent;
}
.mapContainer{
    min-width:60vw;
    min-height:400px;
    overflow:auto;
}